<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.adaptivity.android.darwin" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
</manifest>